:root {
  --background: #f0f0f0;
  --nav-bar: #fefeff;

}

body {
  background-color: var(--background);
}
@media (max-width: 992px) {
  #navbarNav .navbar-nav {
    flex-direction: column;
    align-items: center;
  }
}
/* nav bar styles */
.navbar{
    position: relative;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.custom-navbar {
  height: 80px;
  background-color: white !important;
}
.custom-brand{
    font-family: "Fuggles", cursive;
  font-size: 3.5rem;
  font-style: bold;
  font-weight: bolder;

}
.custom-title {
  font-family: "Fuggles", cursive;
  font-size: 2.5rem;
  font-style: bold;
  font-weight: bolder;
}


input:focus{
    box-shadow: none !important;
    outline: 2px solid black !important;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus {
    box-shadow: none !important;
    outline: none !important;
}
.offcanvas{
    background-color: var(--background) !important;
}

/* main */
.card{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

}

.card{
    border-radius: 30px;
}
.card-img-top{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.card-body{
    padding: 25px;
    margin-top: -15px;


}
.custom-link{
    text-decoration: none !important;
    color: black;

}

.card-title:hover{
    color: black;

}
.btn-secondary{
    border-radius: 50px;
}
.btn-secondary:hover{
    background-color: black;

}

.custom-link{
    font-size: 1rem;
}
h3{
    font-size: 1.5rem;
}
.card-text{
    font-size: 1rem;
}
.custom-btn{
    font-size: 1rem;
}